body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Light gray background */
}

header {
  background-color: #222; /* Dark gray header */
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

nav {
  background-color: #c5d1d7;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(253, 253, 253, 0.1);
  text-align: center; /* Center the text within the navigation bar */
}

.navBar {
  display: inline-block; /* Make the container inline-block to center it */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #b20d36;
}

/* section {
  padding: 40px;
} */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add box-shadow transition */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
}

.project:hover img {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enlarged box-shadow on hover */
}

h4 {
  color: #777;
  font-size: 1.2em;
  margin-bottom: 10px;
}

h3 {
  color: #333;
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

p {
  font-size: 1.2em;
  color: #555;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #b20d36;
}

#education {
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.education {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
}

.u-underline {
  text-decoration: underline;
}

/* Hover effect for the education box */
.education:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#contact {
  text-align: center;
  padding: 40px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-form:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #555;
  font-size: 1.2em;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

/* Add some spacing between form elements */
form > * {
  margin-bottom: 15px;
}
